.persian {
  width: 100%;
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  .persian__item {
    width: 48%;
    height: 350px;
    margin-top: 25px;
    & h2 {
      font-family: Golestan;
      font-size: 20px;
      font-weight: bold;
      color: #FF0000;
      margin-bottom: 15px;
    }
    & p{
        font-family: Golestan;
        font-size: 15px;
        color: #2b2b2b;
        opacity: 0.7;
        line-height: 35px;
        text-align: justify;
    }
    & button{
        width: 140px;
        height: 40px;
        text-decoration: none;
        font-family: Golestan;
        font-size: 16px;
        border: 1px solid lightgrey;
        border-radius: 8px;
        background-color: white;
        margin-top: 20px;
        color: rgb(135, 135, 135);
    }
  }
}
